* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.navbar {
  padding-left: 2vh;
  display: flex;
  height: 10vh;
  background-color: #d8af97;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  width: 5rem;
  height: 5rem;
  right: 5px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  padding: 2vh;
  color: black;
}

.main {
  flex-grow: 1;
  min-height: 20vh;
  background-color: #ffffeb;
  flex-direction: row;
  flex-wrap: wrap;
}

.containerhome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containeraboutus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containercontact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerinformation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerbenefits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerraffle{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image1 {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.image2 {
  width: 50%;
  height: 300px;
  object-fit: cover;
  padding: 10px 0;
}

.aboutusimg{
    width: 30%;
}

.benefitimg{
  width: 30%;
}

.image6 {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-right: 200px;
}

.article1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.article2 {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 10px;
  background-color: #d8af97;
}

.article3 {
    width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 10px;
}

.article4 {
    width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 10px;
  background-color: #d8af97;
}

.article5 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 10px;
  font-size: 20px;
}

.article6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 20px 10px;
}

.article7, .article8 {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 10px;
  background-color: #d8af97;
  gap: 8rem;
  width: 80vw;
}


.listul{
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.listul li{
  color: #442917;
  list-style: none;
}

.textcontact {
  font-size: 15px;
  text-align: center;
}

.image3 {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-left: 200px;
}

.image4 {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-left: 200px;
}

.image5 {
  width: 40rem;
  height: 300px;
  object-fit: cover;
  margin-left: 200px;
}

.image6 {
  width: 100%;
  height: 20rem;
}


.image5 {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-left: 200px;
}

.textmain {
  font-size: 22px;
}

.textabout {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
}

.titles {
  margin: 12px 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  height: 8vh;
  background-color: #d8af97;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
}

.table {
  text-align: center;
  border-collapse: collapse;
  width: 60%;
  height: 18rem;
}

thead {
  width: 60%;
  height: 8vh;
}

table,
tr,
td,
th {
  font-family: "Times New Roman", Times, serif;
}

td,
th {
  padding: 6px;
}

th {
  background-color: #d8af97;
}

tbody tr:nth-child(odd) {
  background-color: #ecd6c0;
}

tbody tr:nth-child(even) {
  background-color: #d8af97;
}

@media screen and (max-width: 768px) {
  .article1 {
    width: 40rem;
    flex-direction: column-reverse;
  }
  .containerlist {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    height: 30vh;
  }
  .logo {
    display: inherit;
    position: inherit;
  }
  .article2, .article3, .article4 {
    flex-direction: column;
  }
  .aboutusimg{
    width: 100%;
  }
  .textabout{
    font-size: 2rem;
  }
  .article6{
    flex-direction: column;
  }
  .containercontact{
    font-size: 8rem;
  }
  .textcontact{
    font-size: 2rem;
  }
  .table{
    width: 40rem;
    height: 40rem;
  }
  .article7, .article8{
    flex-direction: column;
    gap: inherit;
  }
  .listul{
    font-size: 2rem;
  }
  .benefitimg{
    width: 80%;
  }
  iframe{
    width: 30rem;
    height: 30rem;
  }
  .containerraffle{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .article1 {
    flex-direction: column-reverse;
    width: 100vw;
  }
  .containerlist {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    height: 25vh;
  }
  .logo {
    display: inherit;
    position: inherit;
  }
  .article2, .article3, .article4 {
    flex-direction: column;
  }
  .aboutusimg{
    width: 100%;
  }
  .article6{
    flex-direction: column;
  }
  .table{
    width: 10rem;
    height: 22rem;
  }
  .article7, .article8{
    flex-direction: column;
    gap: inherit;
  }
  .benefitimg{
    width: 80%;
  }
  iframe{
    width: 16rem;
    height: 16rem;
  }
  .containerraffle{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
}


